body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 50px;
}
h1 {
    color: #2c3e50;
}
p {
    font-size: 1.2em;
}
.experiments{
    background-color: blanchedalmond;
    color:black;
    font-size: 0.8em;
    border: 2px solid black;
    margin: 20px;
    padding:20px;
}
#blenderHeader
{
    color: #515151;
    padding: 5px;
    text-align: center;
}